<!DOCTYPE html>
<html>
    <head>
        <title>Despeckling-App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="../static/js/despeckle.js"></script>
    </head>
    <body>
        <h1>Despeckle</h1>
        <div id="slider"></div>
		<br>
        <canvas id="imview" width=1000 height=1000 alt="Image Preview"></canvas>
    </body>
</html>
