<!DOCTYPE html>
<html>
    <head>
        <title>Segmentation-App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="../static/js/kinetic-v4.5.1.min.js"></script>
		<script src="../static/js/segment.js"></script>
    </head>
    <body onmousedown="return false;">
        <h1>Segment</h1>
		<button onclick="addPoly()">Add Poly</button>
		<button id="delete" onclick="removePoly()">Remove Poly</button>
		<button onclick="logPolys()">Log Polys</button>
		<button onclick="addLeftEnd()">addLeftEnd</button>
		<button onclick="addRightEnd()">addRightEnd</button>
		<button onclick="removeLeftEnd()">removeLeftEnd</button>
		<button onclick="removeRightEnd()">removeRightEnd</button>
		<form method="POST" action="/imagemask">
			<input type="hidden" name="JSON" />
			<input type="submit" value="Submit" />
		</form>
        <div class="canvases">
			<div id="image-preview"></div>
        </div>
    </body>
</html>
