<!DOCTYPE html>
<html>
    <head>
        <title>Rotation-App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="../static/js/jquery.knob.js"></script>
		<script src="../static/js/rotate.js"></script>
       	<script>
			
		</script>
    </head>
    
    <body>
        <h1>Rotate</h1>
        <div class="buttons">
            <input class="knob" id="dialctrl" data-cursor=true data-thickness=".3"></input>
            <input name="tval" type="button" id="threshsend"></input>
        </div>
        <br>
        <div class="canvases">
            <canvas id="imview" width=1000 height=1000 alt="Image Preview"></canvas>
        </div>
    </body>
</html>
