<!DOCTYPE html>
<html>
    <head>
        <title>Rotation-App</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="../static/js/jquery.knob.js"></script>
		<script src="../static/js/kinetic-v4.5.1.min.js"></script>
		<script src="../static/js/rotate.js"></script>
    </head>
    
    <body>
        <h1>Rotate</h1>
        <div class="buttons">
            <input class="knob" id="dialctrl" data-cursor=true data-thickness=".3"></input>
            <input id="toggleRuler" name="toggleRuler" type="button" value="Toggle Ruler"></input>
			<input id="reorientRuler" name="reorientRuler" type="button" value="Reorient Ruler"></input>
        </div>
        <br>
        <div class="canvases">
            <div id="image-preview"></div>
        </div>
    </body>
</html>
