<!DOCTYPE html>
<html>
    <head>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="  stylesheet" type="text/css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="static/js/jquery.knob.js"></script>
        <script src="static/js/RKRotate.js"></script>
    </head>
    <body>
        <h1>Rotate</h1>
        <div class="knob-wrapper">
            <input class="knob" id="rotateKnob" data-cursor=true data-thickness=".3"></input>
        </div>
        <div class="buttons">
            <button id="submit">Submit</button>
        </div>
        <div id="rotateView"></div>
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#rotateView").RKRotate({
                imageUrl: "/static/images/sheet-music.jpg",
            });

            var rkRotate = $("#rotateView").data("RKRotate");

            var precisionMultiplier = 40;

            $(".knob").knob({
                'value': 0,
                'width': 100,
                'height': 100,
                'displayPrevious': true,
                'displayInput': false,
                'min': 0,
                'max': 360 * precisionMultiplier,
                // 'step': 0.05,  
                'change':function(v, ipt) {
                    rkRotate.rotate(v/precisionMultiplier);
                }
            });

            $(".knob-wrapper").mousedown(function() {
                rkRotate.showGrid();
            });

            $(window).on('mouseup', function()
            {
                rkRotate.hideGrid();
            });

            $("#submit").on('click', function() {
                var knob = $("#rotateKnob");
                $.ajax("/interactive/rotate", {
                    type: 'POST', 
                    dataType: 'json', 
                    data: {angle: knob.val() / precisionMultiplier}
                });
            });
        });
    </script>
</html>